
:root {
    --colorAliasThemePrimaryBase: #7a4bdd;    
    --colorAliasThemePrimaryLight: #9b78e6;    
    --colorAliasThemePrimaryLighter: #bda5ee;    
    --colorAliasThemePrimaryDark: #4c347d;    
    --colorAliasThemePrimaryDarker: #34294d;    
    --colorAliasThemeSecondaryBase: #fd18f4;    
    --colorAliasThemeSecondaryLight: #fe8cfa;    
    --colorAliasThemeSecondaryLighter: #fec5fc;    
    --colorAliasThemeSecondaryDark: #8d1b89;    
    --colorAliasThemeSecondaryDarker: #551c53;    
    --colorAliasThemeTertiaryBase: #46e54c;    
    --colorAliasThemeTertiaryLight: #a3f2a6;    
    --colorAliasThemeTertiaryLighter: #d0f8d2;    
    --colorAliasThemeTertiaryDark: #328135;    
    --colorAliasThemeTertiaryDarker: #274f29;    
    --colorAliasThemeNeutralWhite: #f2f2f2;    
    --colorAliasThemeNeutralBlack: #1e1e1e;    
    --colorAliasThemeNeutral100: #e8e8e8;    
    --colorAliasThemeNeutral200: #dcdcdc;    
    --colorAliasThemeNeutral300: #c2c2c2;    
    --colorAliasThemeNeurtral400: #a3a3a3;    
    --colorAliasThemeNeutral500: #626262;    
    --colorAliasThemeNeutral600: #4b4b4b;    
    --colorAliasThemeInformation: #3483fa;    
    --colorAliasThemeNeutralDark: #323141;    
    --colorAliasThemeWarning: #ff7733;    
    --colorAliasThemeSuccess: #12b76a;    
    --colorAliasThemeError: #f23d4f;    
    --colorMappedBackgroundButtonThemeAction: var(--colorAliasThemePrimaryBase);    
    --colorMappedBackgroundButtonThemeActionHover: var(--colorAliasThemePrimaryLight);    
    --colorMappedBackgroundButtonThemeActionFocused: var(--colorAliasThemePrimaryDark);    
    --colorMappedBackgroundButtonThemeActionDisable: var(--colorAliasThemeNeutral200);    
    --colorMappedBackgroundButtonThemeAccent: var(--colorAliasThemeSecondaryBase);    
    --colorMappedBackgroundButtonThemeAccentHover: var(--colorAliasThemeSecondaryLight);    
    --colorMappedBackgroundButtonThemeButton: var(--colorAliasThemeNeutralBlack);    
    --colorMappedBackgroundButtonThemeError: var(--colorAliasThemeError);    
    --colorMappedBackgroundButtonThemeSuccess: var(--colorAliasThemeSuccess);    
    --colorMappedBackgroundButtonThemeWarning: var(--colorAliasThemeWarning);    
    --colorMappedBorderBorderButtonActionFocused: var(--colorAliasThemePrimaryLighter);    
    --colorMappedBorderThemeBorderAccentFocused: var(--colorAliasThemeSecondaryLighter);    
    --colorMappedBorderThemeBorderDefaultFocused: var(--colorAliasThemeNeutral300);    
    --colorMappedTextColorTextFillContrast0: var(--colorAliasThemeNeutralWhite);    
    --colorSurfaceColorSurfaceContrast0: var(--colorAliasThemeNeutralWhite);    
    --colorSurfaceColorSurfaceContrast1: var(--colorAliasThemeNeutralBlack);    
    --colorMappedTextColorTextFillContrast1: var(--colorAliasThemeNeutralBlack);    
}